<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>
  <body>
    <a href="add_item"><button>Add Item</button></a>
    <a href="view_all"><button>View Inventory</button></a>
    <form action="/search" method="get">
      <input type="text" name="search-term" required>
      <button type="submit">Search</button>
    </form>
    

  </body>
</html>
